# Configuraciones locales
config.json
**.env


# Para archivos
2-Data Analytics/3-Pandas/ejercicios/1-World_Food_Facts/data.tsv


# Para carpetas
entorno/
env/


# Para carpetas estén donde estén.
**/data/
**/log/
**/logs/
**/__pycache__/
**.pyc
**.ipynb_checkpoints/

