.postDetail{
    width: 663px;
    margin-top: 43px;
    border-bottom: 1px  #9EAFED;
}
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 555px;
}
#comment{
    margin-top: 43px;
}